In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
#Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 
#when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. 
#What are the mean, median, and mode of the kids' ages when they first appeared on the show? 
#What are the variance, standard deviation, and standard error?
#Ages = 14,12,11,10,8,6,8
ages = pd.DataFrame([14,12,11,10,8,6,8])
ages.mean()

0    9.857143
dtype: float64

In [3]:
ages.median()

0    10.0
dtype: float64

In [4]:
ages.mode()

   0
0  8

In [5]:
ages.var()

0    7.47619
dtype: float64

In [6]:
ages.std()

0    2.734262
dtype: float64

In [7]:
ages.sem()

0    1.033454
dtype: float64

In [8]:
#Cindy has a birthday was aged 6 now aged 7
ages2 = pd.DataFrame([14,12,11,10,8,8,7])
ages2.mean()

0    10.0
dtype: float64

In [9]:
ages2.median()

0    10.0
dtype: float64

In [10]:
ages2.mode()

   0
0  8

In [11]:
ages2.var()

0    6.333333
dtype: float64

In [12]:
ages2.std()

0    2.516611
dtype: float64

In [13]:
ages2.sem()

0    0.95119
dtype: float64

In [14]:
#Oliver is replaced by Jessica
ages3 = pd.DataFrame([14,12,11,10,8,7,1])
ages3.mean()

0    9.0
dtype: float64

In [15]:
ages3.median()

0    10.0
dtype: float64

In [16]:
ages3.mode()

    0
0   1
1   7
2   8
3  10
4  11
5  12
6  14

In [17]:
ages3.var()

0    18.0
dtype: float64

In [18]:
ages3.std()

0    4.242641
dtype: float64

In [19]:
ages3.sem()

0    1.603567
dtype: float64